# KiCad files
*.bak
*.kicad_pcb-bak
*.sch-bak
*.pro-bak
*.pcb
*.kicad_pcb
*.sch
*.pro
*.net
*.dcm
*.lib
*.cmp
*.bom
*.mdr
*.erc
*.cvg
*.drc
*.log
*.dsn
*.ses
*.xml
*.bak
_autosave
*.bak$
*.swp
*.backup
*.pretty
*.step
*.kicad_wks
*-backups